<!DOCTYPE html>
<!--@author Mikayel Mardanyan Petrosyan-->
<html lang="es">
<head>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:wght@500">
    <link rel="icon" type="image/png" href="images/oms.png"/>

    <title>Dashboard</title>
</head>
<body>

<div class="container-fluid">

    <ul class="nav nav-pills cabecera justify-content-center">
        <li class="nav-item">
            <a class="nav-link dash-option active" id="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dash-option" id="filtrado-btn">Filtrado colaborativo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dash-option" id="asociacion-btn">Reglas de asociación</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dash-option" id="agrupamiento-btn">Agrupamiento</a>
        </li>
    </ul>

    <div class="container-fluid contenido">

        <div class="row" id="principal">
            <div class="col-8 grafica">
                <ul class="nav nav-tabs choose">
                    <li class="nav-item">
                        <a class="nav-link active" id="lineas-activo-btn">Casos activos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="lineas-total-btn">Casos totales</a>
                    </li>
                </ul>
                <div class="grafica" id="lineas-activo"></div>
                <div class="grafica" id="lineas-total"></div>
            </div>
            <div class="col-3 grafica" id="numbers">
                <div class="caja-numeros">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-num"> Pacientes ingresados: </p>
                        </div>
                        <div class="col-sm">
                            <p class="numeros" id="num_pacientes"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-num">Pacientes en UCI: </p>
                        </div>
                        <div class="col-sm">
                            <p class="numeros" id="num_uci"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-num">Pacientes fallecidos: </p>
                        </div>
                        <div class="col-sm">
                            <p class="numeros" id="num_fallecidos"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tratamientos grafica">
                <div class="row">
                    <div class="col rosco">
                        <div id="rosco1">
                        </div>
                    </div>
                    <div class="col rosco">
                        <div id="rosco2">
                        </div>
                    </div>
                    <div class="col rosco">
                        <div id="rosco3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col rosco">
                        <div id="rosco4">
                        </div>
                    </div>
                    <div class="col rosco">
                        <div id="rosco5">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="filtrado" style="display: none;">
            <div class="alert alert-primary alert-dismissible fade show grafica" role="alert">
                <p class="agrupamiento-text">A continuación se muestran 4 gráficas, una por cada hospital.<br>
                    En cada una de estas aparecen los 20 compuestos en el eje X. La parte izquierda del eje Y representa el
                    número de veces que ha sido recomendado cada compuesto y corresponde a las barras. La parte derecha del
                    eje Y representa la valoración del efecto estimado y corresponde a la linea.<br>
                    A su vez, las barras también indican cuántas veces los compuestos fueron primera, segunda y tercera opción.</p>
                <p class="ayuda">Más abajo aparecen las tablas con los compuestos recomendados para cada hospital</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col grafica">
                    <div id="chart1">
                    </div>
                </div>
                <div class="col grafica">
                    <div id="chart2">
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col grafica">
                    <div id="chart3">
                    </div>
                </div>
                <div class="col grafica">
                    <div id="chart4">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col grafica tablas-prototipo">
                    <p>Hospital 1</p>
                    <div id="table1">
                    </div>
                </div>
                <div class="col grafica tablas-prototipo">
                    <p>Hospital 2</p>
                    <div id="table2">
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col grafica tablas-prototipo">
                    <p>Hospital 3</p>
                    <div id="table3">
                    </div>
                </div>
                <div class="col grafica tablas-prototipo">
                    <p>Hospital 4</p>
                    <div id="table4">
                    </div>
                </div>
            </div>
        </div>

        <div id="reglas" style="display: none;">
            <div class="alert alert-primary alert-dismissible fade show grafica" role="alert">
                <p class="agrupamiento-text">A continuación, se muestran 2 tablas de reglas de asociación con el
                    compuesto recomendado.<br>
                    La primera tabla indica que en aquellos pacientes en los que los compuestos de la izquierda dieron
                    buen resultado,
                    el recomendado también lo dará.<br>
                    La segunda tabla indica que en aquellos pacientes en los que los compuestos de la izquierda dieron
                    mal resultado,
                    el recomendado también lo dará.</p>
                <p class="ayuda"><b>Confidence</b> representa la probabilidad de que, habiendo dado buen/mal
                    resultado el compuesto recomendado,
                    también lo hayan dado los compuestos de la izquierda.<br>
                    <b>Lift</b> indica el factor en que se incrementa la probabilidad de que el compuesto recomendado dé
                    buen/mal resultado
                    si los de la izquierda también lo han dado.<br>Haz clic en la cabecera de cada columna para reordenar.
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="grafica tablas-prototipo">
                <p>Reglas éxito</p>
                <div id="reglasExito"></div>
            </div>
            <div class="grafica tablas-prototipo">
                <p>Reglas fallo</p>
                <div id="reglasFallo"></div>
            </div>
        </div>

        <div id="agrupamiento" style="display: none;">
            <div class="alert alert-primary alert-dismissible fade show grafica" role="alert">
                <p class="agrupamiento-text">A continuación, se muestran 3 pacientes prototipo de cada categoría</p>
                <p class="ayuda">Haz clic en la cabecera de cada columna para reordenar</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="grafica">
                <div class="tablas-prototipo">
                    <p>Prototipos de paciente ingresado en UCI</p>
                    <div id="prototipoUci"></div>
                </div>
            </div>
            <div class="grafica">
                <div class="tablas-prototipo">
                    <p>Prototipos de paciente fallecido</p>
                    <div id="prototipoFallecido"></div>
                </div>
            </div>
            <div class="grafica">
                <div class="tablas-prototipo">
                    <p>Prototipos del resto de pacientes</p>
                    <div id="prototipoResto"></div>
                </div>
            </div>
        </div>

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="js/nav-items.js"></script>
<script type="text/javascript" src="js/dash.js"></script>
</body>
</html>